---
import type { Lang } from "../i18n/config";
import { getTranslatedUrl, useTranslations } from "../i18n/utils";
import VersionMenu from '../components/VersionMenu.astro';

const lang = Astro.currentLocale as Lang;

const today = new Date();
const t = useTranslations(lang);
---
<footer class="footer border-t-2 border-accent footer-horizontal footer-center bg-base-200 text-base-content p-10 pt-[3em] row-gap-0">
	<nav>	
		<h2 class="text-2xs">{t('footer.previousVersions')}:</h2>
		<div class="flex flex-wrap gap-4 justify-center">	
			<VersionMenu />
		</div>
	</nav>
</footer>	
<!-- <footer class="footer footer-horizontal footer-center text-base-content p-10">
	<nav class="grid grid-flow-col gap-4">
		<a class="link link-hover" href={getTranslatedUrl(lang, 'privacyPolicy')}>{t('footer.privacyPolicy')}</a>
		<a class="link link-hover" href={getTranslatedUrl(lang, 'cookies')}>{t('footer.cookies')}</a>		
	</nav>
</footer> -->
<footer class="footer footer-vertical md:footer-horizontal p-10 ">
 	<aside class="grid-flow-col items-center">
		<p>
			&copy; {today.getFullYear()} {t('footer.copyright')}
		</p>
 	</aside>  
	<div class="md:place-self-end">
		<p>{t('footer.askWebsite')} <a class="link link-hover" href="mailto:poczta@kubaadamczyk.pl">poczta@kubaadamczyk.pl</a></p>
	</div>	
</footer>