---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

---
<li >
	<a href={href} data-section={href} class="text-primary drawer-close" {...props}>
		<slot />
	</a>
</li>
