---
import { useTranslations, getTranslatedUrl, getRouteFromTranslatedPath} from "../i18n/utils";
import type { Lang } from '../i18n/config';
import ThemeController from './ThemeController.astro';
import MainMenu from './MainMenu.astro';
import LangController from "./LangController.astro";

const lang = Astro.currentLocale as Lang;

const t = useTranslations(lang);

---
<header class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="navbar-start">
      <label for="menu-drawer" tabindex="0" role="button" class="btn btn-ghost lg:hidden drawer-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </label>    
   	<a href={getTranslatedUrl(lang)} class="btn btn-ghost text-xl">{t('name')}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal space-x-2">
      <MainMenu/>
    </ul>
  </div>
  <div class="navbar-end">   
    <LangController/>
    <ThemeController/> 
  </div>	
</header>
