---
import type { Lang } from "../i18n/config";
import { getRouteFromTranslatedPath, getTranslatedUrl } from "../i18n/utils";

const currentRoute = getRouteFromTranslatedPath(Astro.url) ?? [];
const lang = Astro.currentLocale as Lang;

---

<ul class="menu menu-horizontal">
    <li><a href={getTranslatedUrl('pl', currentRoute)} class={'text-primary ' + (lang === 'pl' ? 'bg-base-300' : '') }>PL</a></li>
    <li><a href={getTranslatedUrl('en', currentRoute)} class={'text-primary ' + (lang === 'en' ? 'bg-base-300' : '') }>EN</a></li>
</ul>