---
import VersionLink from "./VersionLink.astro";
import { useTranslations } from "../i18n/utils";
import type { Lang } from "../i18n/config";

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
---

<!-- <VersionLink version={'vDefault'}>{t('version.vDefault')}</VersionLink>
<VersionLink version={'v2026'}>{t('version.v2026')}</VersionLink>
<VersionLink version={'v2025'}>{t('version.v2025')}</VersionLink>
<VersionLink version={'v2017'}>{t('version.v2017')}</VersionLink> -->
<a href="https://www.zlotpoziomek.pl/" target="_blank" class="link link-hover">2026</a>
<a href="https://www.zlotpoziomek.pl/2025" target="_blank" class="link link-hover">2025</a>
<a href="https://www.zlotpoziomek.pl/2023" target="_blank" class="link link-hover">2023</a>
<a href="https://www.zlotpoziomek.pl/2022" target="_blank" class="link link-hover">2022</a>
<a href="https://www.zlotpoziomek.pl/2021" target="_blank" class="link link-hover">2021</a>
<a href="https://www.zlotpoziomek.pl/2020" target="_blank" class="link link-hover">2020</a>
<a href="https://www.zlotpoziomek.pl/2019" target="_blank" class="link link-hover">2019</a>
<a href="https://www.zlotpoziomek.pl/2018" target="_blank" class="link link-hover">2018</a>
<a href="https://www.zlotpoziomek.pl/2017" target="_blank" class="link link-hover">2017</a>