---
import type { Lang } from "../i18n/config";
import { getTranslatedUrlFragment, useTranslations } from "../i18n/utils";

const { data } = Astro.props;
const lang = Astro.currentLocale as Lang;
const id = getTranslatedUrlFragment(lang, data.type);
const t = useTranslations(lang);

---
<style>  
   	section {
		width: 1200px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}		
</style>
<section class="basic-section scroll-mt-24 prose" id={id}>	
	<slot />	
</section>